/* Add this CSS in your CSS file (App.css or a separate CSS file) */
.slide_direction {
  position: relative;
  display: flex;
  justify-content: space-between; /* This places the buttons at each end */
}

.left,
.right {
  background-color: transparent;
  color: #333;
  cursor: pointer;
  font-size: 24px;
}

.left:hover,
.right:hover {
  color: #555;
}
